.shop-category {
    background-color: #25232e;
    height: 100%;
    opacity: 0.9;
}
.shop-category img {
    width: 100%;
}
.shop-category-sort {
    color:white;
    text-align: right;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.shop-category-sort div {
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    padding-left: 50px;
    
}
.shop-category-main {
    display: flex;
}
.shop-category-filters {
    color: white;
    width: 40vh;
    border-right: 1px solid white;
    
}
.shop-category-products {
    margin: 20px 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20vh;
    gap: 40px;
}