.wishlist {
    display: block;
    background-color: #322d45;
    height: 100%;
    opacity: 0.9;
}
.wishlist-head {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: white;
}
.wishlist-products-main {
    margin: 0px 60px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20vh;
    gap: 40px;
    padding-bottom: 40px;
}
.wishlist-product-item img {
    width: 300px;
    height: 300px;
}