.item {
    width: 302px;
    /* cursor: pointer; */
    border: 1px solid rgb(194, 164, 164);
    border-radius: 10px;
}
.item img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    width: 300px;
    height: 300px;
    cursor: pointer;
}
.item-addtocart {
    position: absolute;
    background-color: none;
    top: 4%;
    /* transform: translate(-50%, -50%); */
    left: 57%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease visibility 0.6s ease;

}
.item p {
    margin: 0px;
    color: white;
    padding-left: 10px;
    padding-top: 6px;
    /* border: 1px solid #25232e; */
    border-bottom: transparent;
}

.item-prices {
    display: flex;
    /* border: 1px solid #25232e; */
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: transparent;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 6px;
    gap: 20px;
}
.item-price-new {
    color: white;
    font-size: 18x;
    font-weight: 600;
}
.item-price-old {
    color: red;
    font-size: 18x;
    font-weight: 500;
    text-decoration: line-through;
}
.item:hover {
    transform: scale(1);
    transition: 0.4s ease-in;
    /* border: 1px solid white; */
    box-shadow: 1px 1px 20px black;
}
.item:hover .item-addtocart {
    opacity: 1;
    visibility: visible;
}