.item {
    width: 302px;
    /* cursor: pointer; */
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
}
.item img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    width: 300px;
    height: 300px;
    cursor: pointer;
}
.heart-icon {
    position: absolute;
    top: 6%;
    right: 8%;
    color: black;
    border: none;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    transition: color 0.3s ease-in-out;
    padding: 0px;
    z-index: 1;
}
.liked {
    color: red;
}
.item-addtocart {
    position: absolute;
    background-color: none;
    top: 70%;
    transform: translate(-50%, -50%); 
    left: 50%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease visibility 0.6s ease;
    z-index: 1;
}
.item-product-name {
    text-overflow: ellipsis;
}
.item p {
    margin: 0px;
    color: white;
    padding-left: 10px;
    padding-top: 6px;
    /* border: 1px solid #25232e; */
    border-bottom: transparent;
}

.item-prices {
    display: flex;
    /* border: 1px solid #25232e; */
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: transparent;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 6px;
    gap: 20px;
    letter-spacing: 1px;
}
.item-price-new {
    color: white;
    font-size: 18x;
    font-weight: 600;
}
.item-price-old {
    color: #FF4141;
    font-size: 18x;
    font-weight: 500;
    text-decoration: line-through;
}
.item:hover {
    transform: scale(1);
    transition: 0.4s ease-in;
    /* border: 1px solid white; */
    box-shadow: 1px 1px 20px black;
    margin: 0px;
    padding: 0px;
}
.item:hover .item-addtocart {
    opacity: 1;
    visibility: visible;
}
.item:hover .heart-icon {
    transform: scale(1.1); /* Scale the heart icon on hover */
    transform-origin: top right;
    transition: transform 0.3s ease-in-out;
}