.item {
    width: 300px;
    cursor: pointer;
}
.item img {
    position: relative;
    width: 300px;
    height: 300px;
}
.item-addtocart {
    position: absolute;
    background-color: none;
    top: 75%;
    transform: translate(-50%, -50%);
    left: 50%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease visibility 0.6s ease;

}
.item p {
    margin: 0px;
    color: white;
    padding-left: 5px;
    padding-top: 3px;
    border: 1px solid #25232e;
    border-bottom: transparent;
}

.item-prices {
    display: flex;
    border: 1px solid #25232e;
    border-top: transparent;
    justify-content: center;
    gap: 20px;
}
.item-price-new {
    color: white;
    font-size: 18x;
    font-weight: 600;
}
.item-price-old {
    color: red;
    font-size: 18x;
    font-weight: 500;
    text-decoration: line-through;
}
.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
    border: 1px solid white;
    box-shadow: 0 2px 5px white;
}
.item:hover .item-addtocart {
    opacity: 1;
    visibility: visible;
}