.productdisplay {
    display: flex;
    margin: 0px 100px;
}
.productdisplay-left {
    display: flex;
    gap: 17px;
}
.productdisplay-image-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.productdisplay-image-list img {
    height: 120px;
}
.productdisplay-main-img {
    margin-left: 20px;
    width: 490px;
    height: 530px;
}
.productdisplay-right {
    display: flex;
    margin: 0px 70px;
    flex-direction: column;
}
.productdisplay-right h1 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.productdisplay-right h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 0px;
}
.productdisplay-right-prices {
    display: flex;
    margin: 10px 0px;
    margin-left: 10px;
    gap: 30px;
    font-size: 16px;
    font-weight: 400;
}
.productdisplay-right-oldprice {
    color: #FF4141;
    text-decoration: line-through;
    letter-spacing: 1px;
}
.productdisplay-right-newprice {
    color: white;
    letter-spacing: 1px;
}
.productdisplay-right-description {
    font-size: 15px;
}
.productdisplay-right-size-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}
.productdisplay-right-size-label h1 {
    font-size: 20px;
    font-weight: 600;
}
.productdisplay-size-chart button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    text-decoration: underline;
    text-underline-position: under;
}
.productdisplay-size-chart button:hover {
    color: rgb(166, 177, 232);
}
.productdisplay-size-chart img {
    width: 480px;
    height: 480px;
}
.productdisplay-right-size-variety {
    display: flex;
    margin: 30px 0px;
    gap: 20px;
    border: none;
}
.productdisplay-right-size-variety button {
    padding: 15px 21px;
    background: #fbfbfb;
    border-radius: 3px;
    cursor: pointer;
}
.border-red {
    border: 2px solid red;
}
.productdisplay-right-quantity-value {
    display: flex;
    text-align: center;
}
.productdisplay-right-quantity-value a {
    border: 1px solid #dddedd;
    border-radius: 3px;
    height: 40px;
    width: 40px;
    line-height: 35px;
}
.productdisplay-right-quantity-value input {
    width: 40px;
    height: 40px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(95, 96, 135);
    border: 1px solid #dddedd;
    outline: none;
}
.productdisplay-right-addToCart {
    padding: 12px 40px;
    width: 300px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #FF4141;
    margin: 20px 0px;
    border: none;
    outline: none;
    cursor: pointer;
}
.productdisplay-right-addToCart:hover {
    background: rgb(200, 46, 22);
}
.productdisplay-right-category {
    text-transform: capitalize;
    margin-bottom: 5px;
}
.productdisplay-right-category span {
    font-weight: 600;
}
.productdisplay-right-brand {
    text-transform: capitalize;
}
.productdisplay-right-brand span {
    font-weight: 600;
}
