.cartItems {
    display: block;
    background-color: antiquewhite;
    height: 100%;
}
.head {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 20px;
}

.cartItems-main {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 30px;
}
.cartItems-left {
    display: block;
    flex-direction: column;
    width: 60%;
}
.cartItems-products {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cartItems-products-left img {
    width: 200px;
    height: 200px;
    
}
.cartItems-products-right {
    display: block;
    width: 60%;
    margin-left: 50px;
}
.cartItems-products-right-top {
    display: flex;
    justify-content: space-between;
}
.cartItems-products-right-title h5{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px  ;
}
.cartItems-products-right-top img {
    width: 24px;
    height: 24px;
    margin-top: 8px;
    cursor: pointer;
}
.cartItems-products-right hr {
    margin-top: 8px;
    margin-bottom: 8px;
}
.cartItems-products-right-size p {
    margin-bottom: 8px;
}
.cartItems-products-right-size span {
    font-weight: 700;
}
.cartItems-products-right-instock {
    font-size: 14px;
}
.cartItems-products-right-quantity-price {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.cartItems-right {
    width: 35%;
}
.cartItems-bill {
    height: fit-content;
    margin-top: 15px;
    border: 1px solid rgb(113, 124, 88);
    padding: 20px;
    margin-bottom: 20px;
}
.cartItems-subtotal {
    display: flex;
    justify-content: space-between;
    font-weight: 450;
}
.tax-tag {
    font-size: 14px;
    font-weight: 350;
}
/*.cartItems-order {
    border: 1px solid rgb(113, 124, 88);
    padding: 20px;
}
.cartItems-order span {
    font-weight: 500;
}*/
.cartItems-place-order-btn {
    margin-bottom: 30px;
}
.cartItems-place-order-btn button{
    width: 300px;
    margin-left: 70px;
    margin-top: 10px;
    padding: 5px;
    background-color: #d2cd72;
    color: black;
    outline: none;
}