.New-Arrivals {
    background-color: #25232e;
    height: 100vh;
    background-size: cover;
    margin-top: 0px;
    opacity: 0.9;
}

.new {
    position: absolute;
    margin-top: 0px;
    top: 780px;
    height: 100vh;
    opacity: 0.5;
    align-items: center;
    left: 130px;
}

.head1 {
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3.8rem;
    position: relative;
    top: 26px;
}
.New-Arrivals-item {
    display: flex;
    position: absolute;
    margin-top: 50px;
    padding-left: 10vh;
    height: 70vh;
    color: white;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.view-product {
    margin-left: 99vh;
    padding: 10px;
    width:fit-content;
    text-align: center;
    color: white;
    position: relative;
    top: 78vh;
    border: 1px solid white;
    
}