body {

    background-color: antiquewhite;

}

.nav {
    height: 75px;
    width: 820px;
    align-items: center;
    text-align: center;
    position: center;
    z-index: 6;
    background-color: #2f3d3b;
    top: 25px;
    left: 340px;
    border-radius: 50px;
    opacity: 0.96;
    box-shadow: 2px 2px 6px black;
}


.list {
    top: 8px;
    list-style: none;
    display: flex;
    position: relative;
    font-size: x-large;
    font-weight: 510;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #e0e1dc;
    margin-left: 10px;
}

ul {
    gap: 38px;
}

.logo {
    position: absolute;
    top: -13px;
    z-index: 10;
    left: 20vw;
    height: 110px;
}

.icons {
    top: 9px;
    position: relative;
    display: flex;
    list-style: none;
    margin-left: 240px;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #e0e1dc;
}

a,
a:link,
a:visited {
    color: #e0e1dc;
    cursor: pointer;
    text-decoration: none;
}


a:hover {
    color: #778da9;
    transition: 0.2s ease-in-out;
}

.nav {
    position: fixed;
    /* Navbar Fixed */
    bottom: 0;
    z-index: 20;
}
